<!DOCTYPE html>
<html>
		<head>
			<title>login with Mogin!</title>
			<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		</head>
		<body>
			<h1><bold>hello,</bold></h1>
			<h8>please login with Mogin</h8>
			<form method="POST">
			  <div class="form-group">
			    <label for="usr">Username</label>
			    <input type="text" class="form-control" id="usr" name="usr" placeholder="Enter username">
			  </div>
			  <div class="form-group">
			    <label for="pwd">Password</label>
			    <input type="password" class="form-control" id="pwd" name="pwd" placeholder="Password">
			  </div>
			  <button type="submit" class="btn btn-primary">Login</button>
			</form>
		</body>
</html>