<!DOCTYPE html>
<html>
		<head>
			<title>web server</title>
			<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		</head>
		<body>
			<p>
				 <h3><u><b> Menu</b></u></h3>
				
			</p>
			<p>
				<a role="button" class="btn btn-dark" href="/goodbye?name={{name}}">goodbye</a>
			</p>
			<p><a role="button" class="btn btn-dark" href="/login">login with Mogin!</a></p>
			<p><a role="button" class="btn btn-dark" href="/party">party!</a></p>
			<p><a role="button" class="btn btn-dark" href="/dashboard">dashboard</a></p>
			<p><a role="button" class="btn btn-dark" href="/utility">utility</a></p>
			<p><a role="button" class="btn btn-danger" href="/">back</a></p>
		</body>
</html>