<!DOCTYPE html>
<html>
		<head>
			<title>party!</title>
			<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
			<script type="text/javascript">
				function buyCoke() {
					alert('you bought coke')
				}
			</script>
		</head>
		<body>
			<h1><b>welcome to the party {{current_user.name}}!!!</b></h1>
			<p>hi here you can have <b>fun partying!</b></p>
			<p><i>(@@) ._. .-. (°°)</i></p> 
			<img src="https://media2.giphy.com/media/3KC2jD2QcBOSc/giphy.gif?cid=790b76115d1f9d772f522e686f36d870&rid=giphy.gif">
			<a role="button" class="btn btn-dark" onclick="buyCoke()">buy coke</a>
			<a role="button" class="btn btn-dark" href='/'>exit party</a>
		</body>
</html>