<!DOCTYPE html>
<html>
		<head>
			<title>web server</title>
			<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		</head>
		<body>
			<p>you successfully logged in as {{current_user.name}}! </p>
			<p><a role="button" class="btn btn-dark" href="/">go back to main page</a></p>
			<img src="https://media2.giphy.com/media/yJFeycRK2DB4c/giphy.gif?cid=790b76115d1f9c0b616f617a678b7d0d&rid=giphy.gif">
		</body>
</html>